.auth-home {
  background-color: #FAFAFA;
  opacity: .8;
  border-radius: 1em;
  position: absolute;
  top: 25%;
  left: 25%;
  height: 55vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.home-logo {
  height: 50vh;
  width: 50vw;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  color: black;
}

.home-logo img {
  height: 25vh;
  width: 14vw;
  margin-left: -10%;
  margin-top: 5%;
}

.home-logo h1 {
  margin-top: 15%;
  margin-left: -3%;
  font-family: arial;
  color: black;
  font-size: 3em;
}

.home-about {
  height: 50vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin-top: -3%;
}

.home-about h2 {
  font-family: arial;
  color: black;
  font-size: 1.5em;
  margin: 1%;
}

.home-about p {
  font-family: arial;
  font-size: .8em;
  color: black;
  margin: 1%;
}

.box-one {
  position: absolute;
  background-image: url('/blue.png');
  background-size: cover;
  background-position: center;
  top: 2%;
  left: 1%;
  height: 48vh;
  width: 49vw;
}

.box-two {
  position: absolute;
  background-image: url('/tan.png');
  background-size: cover;
  background-position: center;
  top: 2%;
  left: 49.9%;
  height: 48vh;
  width: 49vw;
}

.box-three {
  position: absolute;
  background-image: url('/green.png');
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 1%;
  height: 48vh;
  width: 49vw;
}

.box-four {
  position: absolute;
  background-image: url('/brown.png');
  background-size: cover;
  background-position: center;
  top: 50%;
  left: 49.9%;
  height: 48vh;
  width: 49vw;
}

.home-about button {
  height: 5vh;
  width: 10vw;
  background-color: salmon;
  color: #FAFAFA;
  border-radius: .5em;
  border-style: none;
  margin: 10%;
}

.home-button {
  color: #FAFAFA;
  text-decoration: none;
}

