.side-bar {
  background-color: #FAFAFA;
  height: 80vh;
  width: 33vw;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1em;
}
