.create-post {
  height: 80vh;
  width: 68vw;
  background-color: #FAFAFA;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.create-post button {
  position: absolute;
  left: 86%;
  top: 85%;
  height: 6vh;
  width: 10vw;
  background-color: salmon;
  opacity: .8;
  color: #FAFAFA;
  border-radius: .5em;
  border-style: none;
}

.title-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-box input {
  height: 3vh;
  margin-left: 2%;
  width: 34vw;
  border-radius: .2em;
  border-style: none;
}

.price-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.price-box input {
  height: 3vh;
  margin-left: 2%;
  width: 15vw;
  border-radius: .2em;
  border-style: none;
}

.description-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.description-box textarea {
  height: 7vh;
  margin-left: 2%;
  width: 30vw;
  border-radius: .2em;
  border-style: none;
}

.drop-zone {
  height: 20vh;
  width: 35vw;
  border: 2px dotted grey;
  margin-bottom: 2%;
}

.drop-zone:hover {
  background-color: white;
}
