.selected-item {
  height: 80vh;
  width: 68vw;
  background-color: #FAFAFA;
  margin-right: 2%;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
}

.selected-item button {
  height: 5vh;
  width: 10vw;
  background-color: salmon;
  opacity: .9;
  color: #FAFAFA;
  border-radius: 1em;
  border-style: none;
  margin-top: 4%;
}
