.home-page {
  background-image: url('/cabinet.png');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 1.5%;
  left: 1%;
  height: 97vh;
  width: 98vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.create-user {
  background-color: #FAFAFA;
  border-radius: 1em;
  height: 40vh;
  width: 50vw;
  display: flex;
  flex-direction: row;
  opacity: .8;
}

.home-logo {
  height: 40vh;
  width: 25vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-content {
  height: 40vh;
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-logo h1 {
  font-size: 3em;
  font-family: arial;
}

.home-page h2 {
  font-family: arial;
}

.home-logo img {
  height: 20vh;
  width: 13vw;
}

.home-input {
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-left: -45%;
}

.home-input p {
  margin: 2%;
  font-family: arial;
}

.home-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page button {
  height: 5vh;
  width: 15vw;
  margin: 1%;
  background-color: salmon;
  border-radius: 1em;
  border-style: none;
  color: #FAFAFA;
}

#email {
  margin-left: 5%;
}

.login {
  color: #FAFAFA;
  text-decoration: none;
}
